<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ appName }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../bower_components/normalize-css/normalize.css" rel="stylesheet" />
    <link href="../bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
<script src="../bower_components/q/q.js"></script>
<script src="../bower_components/signals/dist/signals.js"></script>
<script src="../bower_components/momentjs/moment.js"></script>
</body>
</html>
