<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ appName }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="vendor/normalize-css/normalize.css" rel="stylesheet" />
    <link href="vendor/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet" />
</head>
<body>
<script src="vendor/q/q.js"></script>
<script src="vendor/signals/dist/signals.js"></script>
<script src="vendor/momentjs/moment.js"></script>
<script src="js/index.js"></script>
</body>
</html>
